<div class="tables">
    <form action="POST"></form>
    <table style="width:100%">
        <tr>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
            <th>Sunday</th>

        </tr>
        <tr>
            <td>{{user}}</td>
            <td>{{user}}</td>
            <td>{{user}}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>

    </table>

    <a href="/"><button>Back</button></a>x

</div>