<div class="container">
    <form action="/waiters:/username" method="GET">

        <div class="header">
            <h1>Ophelia Roster</h1>
        </div>
        <div class="introduction">
            <p1> Please Enter your name & Select Shift Days </p1>
        </div>
        <p></p>
        <div class="information">


           <input type="text" name="user" id="inputElement" class="textArea" placeholder="enter your name here">


        <button type="submit" name="submit">OK</button>
        </div>
        <div class="granted">
            {{#if messages}}
            {{messages.success}}
            {{/if}}
        </div>
        <div class="denied">
            {{#if messages}}
            {{messages.error}}
            {{/if}}
            </div>
    </form>
</div>
    {{!--  --}}