<div class="row">

    <div class="information">

        <p>Hi + {{name}} + please Select the Three Shifts You will be Working</p>

        <label><input type="checkbox" name="tick" value="mon"> Monday</label>
        <label> <input type="checkbox" name="tick" value="tue"> Tuesday</label>
        <label><input type="checkbox" name="tick" value="wed"> Wednesday</label>
        <label><input type="checkbox" name="tick" value="thu"> Thursday</label>
        <label><input type="checkbox" name="tick" value="fri"> Friday</label>
        <label><input type="checkbox" name="tick" value="sat"> Saturday</label>
        <label><input type="checkbox" name="tick" value="sun"> Sunday</label>

        <button type="submit" name="submit">OK</button>
        
    </div>
    <a href="/home"><button>Back</button></a>
</div>